requests>=2.31.0
supabase>=2.4.0
python-dotenv>=1.0.0
numpy>=1.24.0
opencv-python>=4.8.0
supervision==0.27.0
inference
tqdm>=4.66.0
transformers
num2words
git+https://github.com/roboflow/sports.git@feat/basketball
